body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333; /* Color de texto principal */
    background-color: #f8f9fa; /* Color de fondo */
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 50px auto;
    border-radius: .25rem;
    background-color: #fff; /* Color de fondo de la tabla */
}

thead {
    background-color: #6A64F1; /* Color de fondo del encabezado de la tabla */
    color: #fff; /* Color de texto del encabezado de la tabla */
}

th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th:first-child, td:first-child {
    border-left: 1px solid #ddd;
}

th:last-child, td:last-child {
    border-right: 1px solid #ddd;
}

tbody tr:hover {
    background-color: #f2f2f2; /* Color de fondo al pasar el ratón sobre una fila */
}

.button {
    color: #aaa;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -4px;
}

.edit:hover {
    color: #0a79df; /* Color de texto al pasar el ratón sobre el botón de editar */
}

.delete:hover {
    color: #dc2a2a; /* Color de texto al pasar el ratón sobre el botón de eliminar */
}

#btn-a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}
